@charset "utf-8";
/* CSS Document  */



body {
	color: #FFF; /* dark grey */
	line-height: 1.5em;
	font-family: Arial;
	font-size: 14px;
	/*  background-color  background-image  background-repeat  background-position */
	background: #515673 ;
}

footer{
	clear: both;
	background-color: #3E6F44;
	padding: 10px;
	height: 25px;
}
nav ul{
	list-style:none;
}
nav a {
	color: #F37EFF;
	text-transform: uppercase;
	text-decoration: none;
	display: inline-block;
	font-weight: bold;
	font-size: 18px;
}
nav a:hover { color: #FF5353; }

.clear-fix { clear: both; line-height: 1px; }

.mainpic{

	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}	

#mainpic{
	content: url(images/AmongUsBG-large.jpg);
}

#innerimage {
	margin-left: auto;
	margin-right: auto;
display: block;
}